<p id="notice"><%= notice %></p>

<h1>產地資料</h1>

<table class="table table-striped responsive-utilities jambo_table bulk_action">
  <thead>
    <tr>
      <th>類別</th>
      <th>盛產月份</th>
      <th>名稱</th>
      <th>品種名稱</th>
      <th>主要生產縣市</th>
      <th>鄉鎮</th>
    </tr>
  </thead>

  <tbody>
    <% @farm_products.each do |farm_product| %>
      <tr>
        <td><%= farm_product.ptype %></td>
        <td><%= farm_product.month %></td>
        <td><%= farm_product.crop %></td>
        <td><%= farm_product.variety %></td>
        <td><%= farm_product.county %></td>
        <td><%= farm_product.town %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm product', new_farm_product_path %>
