<p id="notice"><%= notice %></p>

<h1>產地資料</h1>

<table class="table table-striped responsive-utilities jambo_table bulk_action">
  <thead>
    <tr>
      <th>Type</th>
      <th>Month</th>
      <th>Crop</th>
      <th>Variery</th>
      <th>County</th>
      <th>Town</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farm_products.each do |farm_product| %>
      <tr>
        <td><%= farm_product.ptype %></td>
        <td><%= farm_product.month %></td>
        <td><%= farm_product.crop %></td>
        <td><%= farm_product.variety %></td>
        <td><%= farm_product.county %></td>
        <td><%= farm_product.town %></td>
        <td><%= link_to 'Show', farm_product %></td>
        <td><%= link_to 'Edit', edit_farm_product_path(farm_product) %></td>
        <td><%= link_to 'Destroy', farm_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farm product', new_farm_product_path %>
