<p id="notice"><%= notice %></p>

<p>
  <strong>Name a:</strong>
  <%= @weather.name_a %>
</p>

<p>
  <strong>Name b:</strong>
  <%= @weather.name_b %>
</p>

<p>
  <strong>Name c:</strong>
  <%= @weather.name_c %>
</p>

<p>
  <strong>Name d:</strong>
  <%= @weather.name_d %>
</p>

<p>
  <strong>Name e:</strong>
  <%= @weather.name_e %>
</p>

<p>
  <strong>Num a:</strong>
  <%= @weather.num_a %>
</p>

<p>
  <strong>Num b:</strong>
  <%= @weather.num_b %>
</p>

<p>
  <strong>Num c:</strong>
  <%= @weather.num_c %>
</p>

<p>
  <strong>Num d:</strong>
  <%= @weather.num_d %>
</p>

<p>
  <strong>Num e:</strong>
  <%= @weather.num_e %>
</p>

<p>
  <strong>Num f:</strong>
  <%= @weather.num_f %>
</p>

<p>
  <strong>Num g:</strong>
  <%= @weather.num_g %>
</p>

<p>
  <strong>Num h:</strong>
  <%= @weather.num_h %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
