
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">氣候對農產品價格的影響</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <h4><%= link_to '農產品交易行情', trading_markets_path %>
        <%= link_to '農產品產地價格', prices_path %>
        <%= link_to '產地資料', farm_products_path %>
        <%= link_to '天氣資料', weathers_path %>
        <%= link_to '資料分析', farm_counts_path %>

        </h4>
      </ul>
    </div>
  </div>
</nav>
